{% extends 'skeleton/base.html' %}
{% load core %}
{% load humanize %}
{% block utils %}
<a href="{% url 'index' %}">
	<i class="fab fa-twitter text-blue-500 text-xl"></i>
</a>
<i class="fal fa-stars text-xl"></i>
{% endblock %}
{% block body %}
<div class="w-full mb-40 divide-y">
	{% for tweet in tweets %}
	<!-- tweet -->
	<div id="tweet{{ forloop }}" class=" w-full p-2 flex gap-2">
		<div onload="this.style.height=document.querySelector('#tweet{{ forloop }}').getBoundingClientRect().height" class="w-12 flex flex-col items-center">
			<div class="w-12 h-12 rounded-full flex flex-shrink-0 items-center justify-center bg-gray-300 ring-[1px] overflow-hidden">
			{% if tweet.user.profile.photo %}
				<img class="w-full h-full object-cover" src="{{ tweet.user.profile.photo.url }}">
			{% else %}
				<i class="fas fa-user text-2xl text-white"></i>
			{% endif %}
			</div>
			{% if tweet.reply_set.all|length > 3 %}
			<div class="bg-gray-200 w-[2px] h-full my-1"></div>
			{% endif %}
		</div>
		<!-- tweet body -->
		<div class="w-full bg-white flex flex-col child:flex-shrink-0 gap-1">
			<div class="w-full flex justify-between items-center">
				<div class="flex items-center gap-1">
					<a href="{% url 'profile:detail' tweet.user.profile.id %}" class="flex gap-1">
						<h3 class="font-bold">{{ tweet.user.profile.name }} </h3>
						<span class="text-gray-500">
							@{{ tweet.user.username }}
						</span>
					</a>
					<div class="rounded-full border border-gray-500"></div>
					<span class="text-gray-500 text-sm">
						{{ tweet.created_at|timesince }} ago
					</span>
				</div>
				<button><i class="fal fa-ellipsis text-lg"></i></button>
			</div>
			<a href="{% url 'tweet:detail' tweet.id %}">
				<p class="text-sm">{{ tweet.text }}</p>
				{% for media in tweet.media_set.all %}
					{% if media.content_type == "image/jpeg" or "image/png" %}
					<div class="w-full rounded-xl max-h-80 overflow-hidden">
						<img class="w-full h-full object-cover" src="{{ media.file.url }}">
					</div>
					{% endif %}			
				{% endfor %}
			</a>
			<div class="flex items-center justify-between child:w-full">
				{% tweet_liked_by tweet request.user as liked %}
				<button><i class="fal fa-comment"></i> <span class="text-xs">{{ tweet.reply_set.all|length }}</span></button>
				<button onclick="like('{% url 'tweet:like' tweet.id %}', this)"><i class="{% if liked %}fas{% else %}fal{% endif %} fa-heart"></i> <span class="text-xs total">{{ tweet.likes.all|length }}</span></button>
				<button><i class="fal fa-share-nodes"></i> <span class="text-xs">{{ tweet.shares.all|length }}</span></button>
			</div>
		</div>
		<!-- tweet body -->
	</div>
	<!-- tweet -->
	{% endfor %}
</div>
<script>
	function like(url, el){
			let total = el.querySelector('.total')
			let icon = el.querySelector('i')
			fetch(url).then(r=>r.json()).then(res=>{
				if (res.action == 'add'){
						total.innerHTML = parseInt(total.innerHTML)+1
						icon.classList.replace('fal', 'fas')
					}
				else{
						total.innerHTML = parseInt(total.innerHTML)-1
						icon.classList.replace('fas', 'fal')
					}
				})
	}
</script>
{% endblock %}
{% block nav %}
<div class="absolute top-full -translate-y-[calc(100%_+_4.5rem)] right-3">
	{% include 'skeleton/tweet-nav.html' %}
</div>
	{% include 'skeleton/nav.html' %}
{% endblock %}
