<nav class="sticky bottom-0 left-0 bg-white h-14 w-screen max-w-xl border-t">
	<ul class="h-full w-full flex items-center">
		<li class="w-full h-full click">
			<a class="flex items-center justify-center h-full w-full" href="{% url 'index' %}"><i class="fal fa-home"></i></a>
		</li>
		<li class="w-full h-full click">
			<a class="flex items-center justify-center h-full w-full" href="{% url 'search' %}"><i class="fal fa-magnifying-glass"></i></a>
		</li>
		<!-- <li class="w-full h-full click"> -->
		<!-- 	<a class="flex items-center justify-center h-full w-full" href="{% url 'index' %}"><i class="fal fa-microphone-lines"></i></a> -->
		<!-- </li> -->
		<li class="w-full h-full click">
			<a class="flex items-center justify-center h-full w-full" href="{% url 'notif' %}"><i class="fal fa-bell"></i></a>
		</li>
		<li class="w-full h-full click">
			<a class="flex items-center justify-center h-full w-full" href="{% url 'index' %}"><i class="fal fa-envelope"></i></a>
		</li>
	</ul>
</nav>
